---
layout: single
classes: wide
---

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script> <script type="text/x-mathjax-config"> MathJax.Hub.Config({tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true } }); </script> <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

{{ content }}

</ul><h2> About me </h2><ul>
 <p>I am currently a postdoctoral fellow at <a href="https://ymsc.tsinghua.edu.cn/en/index.htm"> Yau Mathematical Sciences Center</a>. I am specializing in the field of Quantitative Geometry, which is a branch of Geometry that, in particular, studies the geometric inequalities and
effective versions of topological existence theorems. Outside the world of mathematics, I am also an amateur photographer. You may find my photography website <a href="https://500px.com/p/zfzhu?view=photos"> here</a>. 

</strong></p><p><strong>Email</strong>: zhifeizhu@tsinghua.edu.cn
  
<p><strong>Office</strong>: 317-Jing Zhai, Yau Mathematical Sciences Center, Tsinghua University, Hai Dian District, Beijing 100084, China.
  
</ul><h2>Research Interests</h2><ul>
  <li>Quantitative geometry</li>
  <li>Differential geometry</li>
  <li>String theory</li>
  <li>Quantum control theory</li>
  
