---
layout: single
classes: wide
---

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script> <script type="text/x-mathjax-config"> MathJax.Hub.Config({tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true } }); </script> <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

{{ content }}

</ul><h2> Current Status </h2><ul>
  <p>I am currently a doctoral student at the <a href="https://www.ist.osaka-u.ac.jp/english/"> Graduate School of Information Science and Technology</a>, 
    <a href="https://www.osaka-u.ac.jp/en"> Osaka University</a> in Japan. 
    I am also a <a href="https://www.jsps.go.jp/english/e-pd/index.html"> JSPS Research Fellow (DC2)</a> at Osaka University.
    My supervisor is Professor <a href="https://www.ist.osaka-u.ac.jp/english/introduction/professors/pure-and-applied-mathematics/discrete-structures/susumu-ariki.html"> Susumu Ariki</a>.
    
</strong></p><p><strong>Email</strong>: q.wang@ist.osaka-u.ac.jp
  
<p><strong>Address</strong>: Department of Pure and Applied Mathematics, Graduate School of Information Science and Technology, Osaka University, 1-5 Yamadaoka, Suita, Osaka, 565-0871, Japan.

</ul><h2>Research Interests</h2><ul>
  <li>$\tau$-tilting theory and silting theory + related topics</li>
  <li>Hecke algebras and $q$-Schur algebras + related algebras</li>
  <li>quasi-hereditary algebras and highest weight categories</li>
  <li>Kazhdan–Lusztig theory (in combinatorial aspects)</li>
  
