---
layout: single
classes: wide
---
{{ content }}

</ul><h2 id="current status">Current Status</h2><ul><p>I am a doctoral student at <a href="https://www.ist.osaka-u.ac.jp/english/">Graduate School of Information Science and Technology</a>, <a href="https://www.osaka-u.ac.jp/en">Osaka University</a> in Japan. My supervisor is Professor Susumu Ariki.

</strong></p><p><strong>Email</strong>: q.wang [at] ist.osaka-u.ac.jp
  
<p><strong>Address</strong>: Osaka

</ul><h2 id="research-interests">Research Interests</h2><ul><li>$\tau$-tilting theory and Silting theory</li><li>Representation theory of algebras (Hecke algebras, Schur algebras, etc.)</li><li>Auslander-Reiten theory </li><li>Kazhdan–Lusztig theory</li>
  
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
